<div class="jumbotron">
<h2>Vare oversigt</h2>

<table>
  <thead>
    <tr>
      <th>Billede</th>
      <th>Beskrivelse</th>
      <!-- th colspan="3"></th -->
      <th> bruger </th>
      <!-- th colspan="3"></th -->
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.image.url(:thumb) %></td>
        <td><%= item.description %></td>
        <td><%= item.user.email if item.user %></td>
        <td>  <%= link_to 'Vis', item %></td>

        <% if item.user == current_user %>

        <td>  <%= link_to 'Edit', edit_item_path(item) %></td>
        <td>  <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Er du sikker?' } %></td>

        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Item', new_item_path %>
<% end %>
</div>
